@charset "UTF-8";

body {
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1300px;
    background: #8fd5f9;
    font-family: 'Lato', sans-serif;
}

input { /*pola do wpisywania danych*/
    height: 20px;
    border: 1px solid gray;
    border-radius: 8px;
}

.tableMenuBg { /*pasek na górze z opcjami*/
    border-radius: 8px;
    background: #1c86ee;
}

form { /*kolor tla w formularzu*/
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    background: #66b3ff;
    border-radius: 8px;
}

h2 { /*kolor tych napisow o stronie*/
    color: #008080;
    font-weight: bold;
    font-style: italic;
}

a {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
}

.formbutton {
    background-color: white;
    border: 1px solid black;
    color: #005984;
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    width: 160px;
    height: 40px;
}

.formbutton:hover {
    border: 1px solid red;
}

#copyright {
    padding-top: 450px;
    text-align: center;
    width: 100%;
}

.rounded {
    border-radius: 8px;
}

.btn-two {
    color: white;
    cursor: pointer;
    padding: 15px 25px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom-color: rgba(0, 0, 0, 0.34);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
    0 2px 0 -1px rgba(0, 0, 0, 0.13),
    0 3px 0 -1px rgba(0, 0, 0, 0.08),
    0 3px 13px -1px rgba(0, 0, 0, 0.21);
    font-weight: bold;
    width: 160px;
    height: 40px;
}

.btn-two:active {
    top: 1px;
    border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
    position: relative;
}

.btn-two {
    margin: 9px;
}

.btn-two.red {
    background-color: #fa5a5a;
}

.btn-two.red:hover {
    background-color: #f94149;
}

.btn-two.green {
    background-color: green;
}

.btn-two.green:hover {
    background-color: limegreen;
}

.btn-two.blue {
    background-color: dodgerblue;
}

.btn-two.blue:hover {
    background-color: #1c86ee;
}